/*=========================================================================================
  File Name: app.scss
  Description: Write your custom scss
  ----------------------------------------------------------------------------------------
  Item Name: Vuesax Admin - VueJS Dashboard Admin Template
  Author: Pixinvent
  Author URL: hhttp://www.themeforest.net/user/pixinvent
==========================================================================================*/

@import 'main';

.vs-button-primary.vs-button-border:hover, .vs-button-primary.vs-button-flat:hover {
  background: rgb(218, 218, 218) !important;
}

[dir] .vs-input--input.normal {
  padding: 0.5rem !important;
}

[dir] .v-select .vs__dropdown-toggle {
  padding: 0px 0 0px 0;
}

[dir] .vs__selected {
  margin: 0px 2px 0px 2px;
  padding: 0 0.25em;
}

