/*=========================================================================================
  File Name: main.scss
  Description: Main scss file. Imports other scss partials from 'vuexy' folder
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy Admin - VueJS Dashboard Admin Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/

@import "vuexy/variables";

@import "vuexy/layout";
@import "vuexy/typography";
@import "vuexy/misc";
@import "vuexy/extraComponents";
@import "vuexy/themes";
@import "vuexy/transitions";

@import "vuexy/customClasses";

// Vuesax fixes and enhancments
@import "vuexy/fixesVuesax";

// Tailwind Fixes
@import "vuexy/tailwindFix";

// rtl
@import "vuexy/rtl";

.vx-navbar-wrapper {
  height: auto;
}

.vs-navbar--item a {
  font-size: 1rem;
}

.vs-input-text-right input {
  text-align: right;
}

.vs-input-text-left input {
  text-align: left;
}

.vs-input-text-center input {
  text-align: center;
}

.con-text-validation {
  font-size: 0.85rem;
}

.con-vs-dialog {
  z-index: 1000000;
}

.vs-inputx:read-only {
  background-color: #f1f2f3;
}

.vs-navbar--item a {
  font-size: 16px;
}

.vs-navbar--item a.router-link-active {
  background: linear-gradient(118deg, rgba(var(--vs-primary), 1), rgba(var(--vs-primary), 0.7));
  box-shadow: 0px 0px 10px 1px rgba(var(--vs-primary), 0.7);
  border-radius: 4px;
  color: #fff;
}

.vx-card.main-card {
  min-height: 70vh;
  max-height: max-content;
}

.pl-05 {
  padding-left: 0.15rem !important;
}

.control-label {
  min-width: 8rem;
}

.control-field {
  width: 16rem;
}
.control-field-number {
  width: 16rem;

  input {
    text-align: right;
  }
}
.control-field-sm {
  width: 10rem;
}
.control-field-number-sm {
  width: 10rem;

  input {
    text-align: right;
  }
}
.control-field-dtm {
  width: 8rem;
}

.control-field-lm {
  width: 15rem;

}

.control-field-sm,
.control-field-lg {
  width: 28rem;
  max-width: 90%;
}

.control-field-dtm {
  width: 8rem;
  text-align: center;
}

.control-field-dtm-sm {
  width: 6rem;
}

[dir=ltr] .ag-theme-material .ag-cell {
  padding-left: 3px !important;
  padding-right: 3px !important;
}

[dir=ltr] .ag-theme-material .ag-header-cell, 
[dir=ltr] .ag-theme-material .ag-header-group-cell {
  padding-left: 3px !important;
  padding-right: 3px !important;
}

.ag-header-group-cell-label,
.ag-header-cell-label {
  justify-content: center !important;
} 
.control-col .control-field {
  width: 10rem;
}
.control-col .control-field-dtm {
  width: 8rem;
  text-align: center;
}

.control-col .control-field-sm {
  width: 8rem;
}
.control-col .control-field-dtm-sm {
  width: 6rem;
}

.preview-dialog {
  iframe {
    width: 100%; 
    height: calc(100vh - 150px);
  }

  .iframe-placeholder {
    background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100% 100%"><text fill="%23C0C9CE" x="50%" y="50%" font-family="\'Lucida Grande\', sans-serif" font-size="14" text-anchor="middle">loading...</text></svg>') 0px 0px no-repeat;
  }
}